// =============================================

// Universal

// =============================================

body {
	font-size: 0.8125em; // sets base font size to 13px
	text-rendering: optimizeLegibility;
}

img {
	max-width: 100%;
}

a {
	color: inherit;
}

i {
	font-style: normal;
}
