// =============================================

// Universal

// =============================================

.leDesign {
	img {
		max-width: 100%;
	}

	a {
		color: inherit;
	}

	i {
		font-style: normal;
	}
}
