// =============================================

// Project Variables

// =============================================


// Colors ------------------------------------

$black-100: #222222;
$black-90: #383838;
$black-80: #4e4e4e;
$black-70: #646464;
$black-60: #7a7a7a;
$black-50: #909090;
$black-40: #a7a7a7;
$black-30: #bcbcbc;
$black-20: #d3d3d3;
$black-10: #e8e8e8;
$white: #ffffff;


$txt-black: #464646;
$med-gray: #999999;
$light-gray: #cccccc;
$goldfinch: #E3B900;
$blue: #2E73B8;
$donate: #F46049;
$attn-red: #d44314;


// Type ------------------------------------

$default-sans: Helvetica, Arial, sans-serif;
$default-serif: Georgia, Times, serif;

$sans: $default-sans;
$serif: $default-serif;

$font-light: 		200;
$font-book: 			400;
$font-medium: 		400;
$font-semibold: 	500;
$font-bold: 			700;


// Width Variables ------------------------------------

$mobile:			300px;
$phablet:			400px;
$tablet:			600px;
$tablet-lrg:		768px;
$desktop:			900px;
$desktop-lrg:	1024px;


// Paths ------------------------------------

$svg-path: "images/icons/";
