// =============================================

// Project Variables

// =============================================


// Colors ------------------------------------

$black-100: #222222;
$black-90: #383838;
$black-80: #4e4e4e;
$black-70: #646464;
$black-60: #7a7a7a;
$black-50: #909090;
$black-40: #a7a7a7;
$black-30: #bcbcbc;
$black-20: #d3d3d3;
$black-10: #e8e8e8;
$white: #ffffff;


$txt-black: #464646;
$med-gray: #999999;
$light-gray: #cccccc;
$red: #FA4B2A;
$green: rgb(41,188,100);

$color-ui-bg: rgb(44,44,44);
$color-ui-txt: rgb(180,180,180);
$color-ui-txt-dark: rgb(100,100,100);


// Type ------------------------------------

$default-sans: Helvetica, Arial, sans-serif;
$default-serif: Georgia, Times, serif;

$sans: Adelle Sans, $default-sans;
$serif: Adelle, $default-serif;
$font-admin: 'Pathway Gothic One', $default-serif;
$din: 'din-condensed-web', $default-sans;

$font-light: 		200;
$font-book: 			400;
$font-medium: 		400;
$font-semibold: 	600;
$font-bold: 			700;


// Width Variables ------------------------------------

$mobile:			300px;
$phablet:			400px;
$tablet:			600px;
$tablet-lrg:		768px;
$desktop:			900px;
$desktop-lrg:	1024px;


