$drawer-padding: 16px;
$drawer-width: 300px;

.l-container {
	transition: all 0.2s ease;
	.leDrawer-isOpen & {
		transform: translateX(300px);
		@include mq(1055px) {
			transform: translateX(25%);
		}
		@include mq(1200px) {
			transform: translateX(20%);
		}
		@include mq(1345px) {
			transform: translateX(150px);
		}
	}
}

.leDrawer {
	z-index: 5000001;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;

	width: $drawer-width;
	padding: $drawer-padding;

	font: $font-book 13px $sans;
	color: $color-ui-txt;
	background-color: $color-ui-bg;
	box-shadow: 10px 0 0 rgba(0,0,0,.4);

	transition: all 0.2s ease;
	transform: translateX(-$drawer-width);
}

.leDrawer.isOpen {
	transform: translateX(0px);
}

.leDrawer-stories--storyList {
	height: 850px;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}


.leDrawer-toggleBtn {
	@include absolute(10px -28px n n);
	@include size(28px 33px);
	background-color: $color-ui-bg;
	border-radius: 0 2px 2px 0;
	&:after {
		@include psuedo;
		@include size(12px);
		@include svg(hamburger);
		position: relative;
		top: 10px;
		right: -6px;
		opacity: .75;
		transition: opacity .15s ease;
	}
	.leDrawer-isOpen &:after {
		@include svg(close);
		opacity: .35;
	}
	&:hover:after {
		opacity: .9;
		cursor: pointer;
	}
}

.leDrawer-toolsSearchForm {
	position: relative;
}

.leDrawer-toolsSearch {
	@include input-default;
	width: 100%;
	padding: 10px 25px 8px 16px;
	margin-bottom: 20px;
	border-radius: 20px;
	background-color: rgba(255,255,255,.2);
	color: $color-ui-txt;
	font-weight: $font-book;

	transition: all 0.2s ease-in;
	@include placeholder-state(rgba(255,255,255,.4), rgba(255,255,255,.4), $color-ui-txt);
}

.leDrawer-toolsSearchBtn {
	@include absolute(10px 10px n n);
	@include size(15px);
	@include svg(search);
	opacity: .5;
	&:hover {
		cursor: pointer;
	}
}

.leDrawer-sectionH {
	background-color: #000;
	color: rgba(255,255,255,.85);
	font: $font-bold 12px $sans;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 16px 16px 15px;
	margin: 0;
}

//
// Tools
//

.leDrawer-tools {
}

.leDrawer-toolsStoryTypes {
	@include input-default;
	width: 100%;
	@extend .leDrawer-sectionH;
	background-color: #000;
}

//
// Story List
//

.leDrawer-storyList {
	margin: 0;
	padding: 0;
}

.leDrawer-storyItem {
	padding: 6px 12px;
	border-top: 1px solid rgba(255,255,255,.2);
	&:hover {
		cursor: pointer;
	}
}

@mixin hide-defaults {
	// Hide all but the headline
	div, p:not(.placeholder-txt), img, q,
	.m-entry-slot__labels {
		display: none;
	}
}

// Override Verge defaults
.leDrawer-storyItem {
	@include hide-defaults;
	.date {
		display: none;
	}

	h1, h2, h3, h4, h5, h6 {
		@extend .leDrawer-storyH;
		transition: color 0.2s ease-in;
		&:hover {
			color: $red;
		}
	}

}

.leDrawer-storyH {
	font: $font-semibold 13px $sans;
	color: $color-ui-txt;
}


//
// Recently Removed
//

.leDrawer-removed {
	@include absolute(n 0 -200px 0);
	height: 200px;
	background-color: #000;
	transition: all .2s ease;

	.leDrawer-storyList {
		padding: 0 $drawer-padding;
	}
}

.leDrawer-removed.isOpen {
	bottom: 0;
}

@include keyframes(colorChange) {
	0% 	{ color: $red; }
	100% { color: rgba(255,255,255,.85) }
}

 .leDrawer-removedH {
 	color: $red;
	transition: color .2s ease;

 	.leDrawer-removed.isOpen & {
 		animation-delay: 3s;
 		animation-name: colorChange;
		animation-duration: .2s;
		animation-fill-mode: forwards;
		animation-iteration-count: 1;
 	}
 }

 .leDrawer-removed--storyList {
 	height: 154px;
	box-shadow: 0 -10px 0 rgba(0,0,0,.4) inset;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}


//
// Live Editing
//

.liveEditing {
	h1, h2, h3, h4, h5, h6 {
		color: #fff !important;
		background-color: rgb(0,0,0);
		box-shadow:	10px 10px 0 rgb(0,0,0),
						-10px -10px 0 rgb(0,0,0),
						10px -10px 0 rgb(0,0,0),
						-10px 10px 0 rgb(0,0,0);
			&:hover {
				color: #fff !important;
				text-decoration: none !important;
			}
		}
}


//
// UI Style Overrides
//

.placeholder {
	width: 100%;
	height: 100%;
	position: relative;
	font-family: $font-admin;
	font-size: 1.4rem !important;
	background-color: #ededed !important;
	text-align: center;
	color: #aaa;
	text-transform: uppercase;
	box-shadow:	0 4px 0 rgba(255,255,255,.8) inset;
	transition: background-color .2s ease;
}

.placeholder-txt {
	@include absolute-center(n 22px);
	left: 0;
	right: 0;
	line-height: 100%;
}

.m-hero__slot.placeholder {
}

.m-entry-slot.placeholder {
	min-height: 250px;
}

li.placeholder {
	background-color: #ededed;
	min-height: 75px;
}

@mixin draggable-state($color: $green, $inset: true) {
	@if $inset {
		$inset: inset;
	} @else {
		$inset: "";
	}

	box-shadow:	4px 4px 0 #fff #{$inset},
					-4px -4px 0 #fff #{$inset};
	&:hover {
		box-shadow:	4px 4px 0 $green #{$inset},
						-4px -4px 0 $green #{$inset};
	}
}

.m-entry-slot:not(.-entry-rock):not(.-ad):not(.m-rock-newsletter) {
	@include draggable-state;
}

.m-hero__slot {
	@include draggable-state(#000);
	.date,
	.m-entry-slot__labels {
		display: none;
	}
}

.m-rock-read-this li {
	@include hide-defaults;
	.p-comment-count {
		display: none;
	}
	p.byline {
		display: block;
	}

	&:hover {
	box-shadow:	0 10px 0 #fff,
					0 -10px 0 #fff,
					10px 0 0 #fff,
					-10px 0 0 #fff,
					-10px -10px 0 #fff,
					10px 10px 0 #fff,
					-10px 10px 0 #fff,
					10px -10px 0 #fff,
					0 14px 0 $green,
					0 -14px 0 $green,
					14px 0 0 $green,
					-14px 0 0 $green,
					-14px -14px 0 $green,
					14px 14px 0 $green,
					-14px 14px 0 $green,
					14px -14px 0 $green;
	}
}

.m-entry-slot:not(.-entry-rock) {
	.date {
		visibility: hidden;
		height: 8px;
		display: block;
	}
	.byline {
		display: none;
	}
}

.m-entry-slot {
	h1, h2, h3, h4, h5, h6 {
		font-family: $serif;
		font-size: 1.5rem;
		font-weight: 400;
		line-height: 1.1;
		margin: 0;
		color: #000;
	}

	.p-dynamic-image {
		margin-bottom: 12px;
	}
}

.m-entry-slot .m-rock-read-this {

	h1, h2, h3, h4, h5, h6 {
		font-family: $serif;
		font-size: 16px;
		font-weight: 400;
		color: #000;
		margin: 0;
		line-height: 1.2;
	}

	.m-entry-slot__labels {
		display: none;
	}
}










