[draggable] {
    cursor: move;
}

// [draggable]:hover:after {
//     content: "Click to edit or drag to move";
// }

[contenteditable] {
    cursor: auto;
}

.being-dragged-over {
    background-color: #ccc;
}
